
.input{
    display: flex;
    flex-direction: row;
    margin: 7px;
    
}
.LabelInput{
    width: 80px !important;
}
form{
    margin-bottom: 10px;
}
button{
    background-color: hsla(195, 30%, 40%, 0.973);
    color: rgb(251, 252, 252);
    width: 80px;
    height: 20px;
    border: 0;
    border-radius: 5px;
    margin-left:87px;
}
.MainDiv{
    margin: 50px;
    padding: 0;
  }
  .innerdiv{
    box-shadow: 0px 0px 5px rgb(210, 191, 191) !important ;
  width: fit-content;
padding: 15px;  
}